{% for post in site.posts %}
<div class="blog-card">
  <a class="meta" href="">
    <div class="photo"
      style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
  </a>
  <div class="description">
    <div class="post-meta">
      {% for category in post.categories %}
      {% if category != 'pinned' %}
      <a href="#" class="post-category">{{category}}</a>
      {% endif %}
      {% endfor%}
      <span class="post-date">{{post.date | date: "%B %-d, %Y"}}</span>
    </div>
    <h3 class="post-title">
      <a href="{{ site.baseurl }}/{{ post.url }}">{{ post.title }}</a>
    </h3>

    {{ post.content | split:'<!--break-->' | first }}

    {% if post.content contains '<!--break-->' %}
    <p class="read-more">
      <a href="{{ site.baseurl }}/{{ post.url }}">Read more</a>
    </p>
    {% endif %}
  </div>
</div>
{% endfor %}
