{% for post in site.posts %}
<div class="blog-card">
  <a class="meta" href="">
    <div class="photo"
      style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
  </a>
  <div class="description">
    <div class="post-meta">
      {% for category in post.categories %}
      <a href="#" class="post-category">{{category}}</a>
      {% endfor%}
      <span class="post-date">{{post.date | date: "%B %-d, %Y"}}</span>
    </div>
    <h3 class="post-title">
      <a href="{{ site.baseurl }}/{{ post.url }}">{{ post.title }}</a>
    </h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad
      eum dolorum architecto obcaecati enim dicta praesentium, quam
      nobis! Neque ad aliquam facilis numquam. Veritatis, sit.
    </p>
    {{ post.content | split:'<!--break-->' | first }}

    {% if post.content contains '<!--break-->' %}
    <p class="read-more">
      <a href="{{ site.baseurl }}/{{ post.url }}">Read more</a>
    </p>
    {% endif %}
  </div>
</div>
{% endfor %}
